*{
  padding: 0;
  margin: 0;
}

body{
  background-color:#A9D1E2 ;
}

.top{
    background-color: white;
    display:flex;
    background-position: left;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 10vh;
    width: 100%;
    border: 3px solid white;
  }
