* {
  padding: 0px;
  margin: 0px;
}

body{
  background-color:#A9D1E2;
}

.upperpart {
  display: flex;
  flex-direction: row;
}

.top1 {
  display: flex;
  align-items: center;
  background-color: white;
  height: 15vh;
  width: 50%;
  color: #1B7092;

}

.top2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  height: 15vh;
  width: 50%;
  color: #1B7092;
  border: 20px;
}

.title-sirio {
  padding-left: 20px;
  font-size: 25px;
}

.top1 > img {
  padding-left: 20px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
}

.signin {
  color: grey;
  padding-right: 20px;
}

.account{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1B7092;
  height: 50px;
  width: 300px;
  border-radius: 50px;
  margin-right: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
  height: 60vh;
  border-radius: 20px;
  background-color: white;
  color: #1B7092;
}

.center > img {
  width: 100px;
  height: 100px;
  margin-top: -6vh;
}

.center > h1{
  margin-top: 5vh;
  font-size: 7vh;
}

.email{
  display: flex;
  justify-content: center;
  align-items: center;
  width:4.5vw;
  height: 3.5vh;
  background-color: #7AB5D0;
  color: white;
  margin-left: -21vw;
  border-top-right-radius: 10px;
}

.email-bar {
  height: 7vh;
  width: 25.5vw;
  background-color: #A9D1E2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.password{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:5.5vw;
  height: 3.5vh;
  background-color: #7AB5D0;
  color: white;
  margin-left: -20vw;
  border-top-right-radius: 10px;
}

.password-bar {
  height: 7vh;
  width: 25.5vw;
  background-color: #A9D1E2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
